/*fonts*/
@font-face {
  font-family: Poppins-regular;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-medium;
  src: url(./assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: Roboto-regular;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Poppins-Mixed;
  src: url(./assets/fonts/Roboto-Thin.ttf);
}

/*variables*/
:root {
  --green-bg-color: #ecf7f3;
  --padding-desktop: 30px 100px;
  --green-color: #48b774;
  --orange-color: #fd905a;
  --grey-color: #707070;
  --grey-font-color: #4a4a4a;
  --white-font-color: #ffffff;
  --black-font-color: #2d2d2d;
  --orange-font-color: #ff8345;
  --grey-font-color: #7c7c7c;
  --padding-mobile: 30px 30px;
}
/*reset styles*/
body,
ul,
h1,
p {
  margin: 0;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
input {
  border: none;
  outline: none;
}
/*common components*/
button {
  background-color: var(--green-color);
  color: var(--white-font-color);
  font-family: Poppins-Medium, Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
}

/*header styles*/
.header {
  margin: 0 auto;
  background-color: var(--green-bg-color);
  padding: var(--padding-desktop);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__burger {
  display: none;
}
.header__line {
  width: 30px;
  height: 2px;
  background-color: var(--orange-color);
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__burger.is-active .header__line:nth-child(2) {
  opacity: 0;
}

.header__burger.is-active .header__line:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}

.header__burger.is-active .header__line:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -o-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg);
}
.header__nav_list {
  font-family: Poppins-regular, Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  display: flex;
  gap: 30px;
}
.header__nav_item {
  list-style: none;
  padding-bottom: 3px;
  position: relative;
  color: var(--grey-font-color);
}
.header__nav_item:hover::after {
  position: absolute;
  content: "";
  display: block;
  width: 21px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -10px;
  border-bottom: 1.5px solid var(--orange-color);
}
.header__sign-button {
  padding: 9px 23px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 20px;
}
/*section hero styles*/
.hero {
  background-color: var(--green-bg-color);
  padding: var(--padding-desktop);
  position: relative;
}
.hero__left-side {
  position: relative;
  z-index: 5;
}
.hero__heading {
  color: var(--black-font-color);
  font-family: Poppins-bold, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  margin-top: 60px;
  width: 375px;
  font-size: 48px;
  line-height: 65px;
}
.hero__subheading {
  color: var(--black-font-color);
  font-family: Poppins-bold, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  font-size: 48px;
  line-height: 72px;
  padding-bottom: 22px;
}
.hero__span {
  color: var(--orange-font-color);
}
.hero__underheading {
  color: var(--grey-font-color);
  font-family: Poppins-Medium, Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-size: 15px;
  line-height: 26px;
  width: 444px;
  padding-bottom: 30px;
}
.hero__start-button {
  font-size: 15px;
  line-height: 22.5px;
  width: 128px;
  height: 46px;
  border-radius: 25px;
  margin-bottom: 50px;
}
.hero__search-input {
  width: 100%;
  height: 62px;
  border-radius: 40px;
  padding-left: 40px;
  font-family: Roboto-regular, Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  color: var(--black-font-color);
}
.hero__search-input::-moz-placeholder {
  color: #a1a1a1;
}
.hero__search-input::-webkit-input-placeholder {
  color: #a1a1a1;
}
.hero__search-form {
  position: relative;
  width: 55%;
  margin-bottom: 40px;
}
.hero__search-button {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  position: absolute;
  right: 5px;
  top: 3px;
}
.hero__search-icon {
  margin-top: 2px;
}
.hero__tooltip {
  opacity: 0;
  font-family: Roboto-Mixed, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  color: red;
}
.hero__users {
  display: flex;
  align-items: center;
}
.hero__users-list {
  position: relative;
}
.hero__user {
  position: absolute;
}
.hero__user:first-child {
  z-index: 3;
}
.hero__user:nth-child(0n + 2) {
  left: 20px;
  z-index: 2;
}
.hero__user:nth-child(0n + 3) {
  left: 40px;
  z-index: 1;
}
.hero__user:last-child {
  position: relative;
  left: 60px;
  order: 0;
  width: 38px;
  height: 38px;
}
.hero__user-plus {
  position: absolute;
  top: 3px;
  left: 14px;
  font-size: 26px;
  color: white;
}
.hero__users-text {
  font-family: Roboto-regular, Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  margin-left: 80px;
  color: var(--grey-color);
}
.hero__animation-complex {
  z-index: 4;
  width: 600px;
  top: 0;
  position: absolute;
  right: 0;
  height: 680px;
  overflow-y: hidden;
}
.hero__animation-round {
  position: absolute;
  top: 220px;
  left: 140px;
}
.hero__animation-girl {
  position: absolute;
  right: -100px;
  bottom: 0;
}
.hero__animation-circle {
  width: 480px;
  height: 480px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #e8e8e8;
  top: 50px;
  left: 40px;
}
.infinite {
  animation: circle 5s infinite linear;
}
.hero__animation-flag {
  position: absolute;
  transition: all 2s;
}
.center-position {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flag-1 {
  left: -50px;
  top: 200px;
}
.flag-2 {
  left: -30px;
  top: 50px;
}
.flag-3 {
  left: 200px;
  top: -50px;
}
.flag-4 {
  right: 10px;
  top: 20px;
}
@keyframes circle {
  to {
    transform: rotate(1turn);
  }
}
.flag-5 {
  right: -50px;
  top: 200px;
}

@media (max-width: 880px) {
  .header,
  .hero {
    padding: var(--padding-mobile);
  }
  .hero__left-side{
    background-color: rgba(236,247,243, 0.7);
  }
}
@media (max-width: 728px) {
  .header__burger {
    display: block;
  }
  .header__nav {
    position: absolute;
    top: 100px;
    left: 0;
    overflow: hidden;
    height: 0;
    transition: all 1s;
    padding-right: 30px;
    background-color: var(--green-bg-color);
  }
  .open {
    z-index: 100;
    padding-bottom: 30px;
  }
  .header__nav_list {
    display: flex;
    flex-direction: column;
  }
  .header__nav_item:hover::after {
    width: 100%;
  }
}
@media (max-width: 620px) {
    .hero__animation-complex{
        display: none;
    }
    .hero__search-form{
        width: 100%;
    }
    .hero__heading,
    .hero__subheading{
        font-size: 32px;
        width: 90%;
    }
    .hero__heading{
        margin-top: 0;
      
    }
    .hero__underheading{
        word-wrap: break-word;
        width: 90%;
    }
    .header__logo{
    width: 100px;
    }
}
